* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.view-1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  font-weight: 100;
}

@media (min-width: 1020px) {
  main .view-1 {
    padding-top: 4rem;
    padding: 4rem;
  }
}
.view-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.view-2 .top {
  width: 100%;
  aspect-ratio: 1/1;
}
.view-2 .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-2 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.view-2 .bottom h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 200;
  line-height: 1;
}
.view-2 .bottom p {
  font-style: monospace;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.8;
}
.view-2 .bottom .services {
  width: 100;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .bottom .services .service {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-2 .bottom .services .service p {
  font-weight: 300;
  font-size: 1.6em;
  font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.view-2 .bottom .services .line {
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
}

@media (min-width: 1020px) {
  .view-2 {
    flex-direction: row-reverse;
    gap: 4em;
    align-items: center;
    padding: 4rem;
  }
  .view-2 .top {
    aspect-ratio: 3/4;
  }
  .view-2 .bottom h1 {
    font-size: 5em;
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  .view-2 .bottom p {
    font-size: 1.7em;
  }
  .view-2 .bottom .services {
    margin-top: auto;
  }
  .view-2 .bottom .services .service p {
    font-size: 1.8em;
  }
}
.view-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5rem;
}
.view-3 .top {
  width: 100%;
  aspect-ratio: 1/1;
}
.view-3 .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-3 .bottom {
  display: flex;
  gap: 2em;
}
.view-3 .bottom p {
  writing-mode: vertical-rl;
  font-size: 0.8em;
}
.view-3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.view-3 .bottom .text h1 {
  text-transform: uppercase;
  font-size: 2.8em;
  font-weight: 200;
  line-height: 1;
}
.view-3 .bottom .text p {
  writing-mode: initial;
  font-style: monospace;
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1.5;
  opacity: 0.6;
}

@media (min-width: 1020px) {
  .view-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
    padding: 4rem;
  }
  .view-3 .bottom {
    flex-direction: row-reverse;
  }
  .view-3 .bottom .text {
    padding: 2rem;
  }
  .view-3 .bottom .text h1 {
    font-size: 6em;
    font-weight: 300;
  }
  .view-3 .bottom .text p {
    margin-top: auto;
  }
}
.view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 1.5rem;
  margin-top: 1rem;
}
.view-4 .top {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
}
.view-4 .top h1 {
  text-transform: uppercase;
  font-size: 2.8em;
  font-weight: 200;
  line-height: 1;
}
.view-4 .top .serve {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.view-4 .top .serve .serviceinfo {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.view-4 .top .serve .serviceinfo .line {
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
}
.view-4 .top .serve .serviceinfo .info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.view-4 .top .serve .serviceinfo .info br {
  display: none;
}
.view-4 .top .serve .serviceinfo .info h3 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 200;
}
.view-4 .top .serve .serviceinfo .info p {
  font-style: monospace;
  font-size: 1.2em;
  font-weight: 300;
  opacity: 0.4;
}
.view-4 .top .serve .serviceinfo .about {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.view-4 .top .serve .serviceinfo .about .about-icon {
  display: flex;
  align-items: center;
  background-color: #000;
  border: 1px solid #000;
  padding: 0.5em;
  border-radius: 50%;
}
.view-4 .top .serve .serviceinfo .about p {
  text-transform: uppercase;
  font-style: monospace;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.view-4 .bottom {
  width: 100%;
  aspect-ratio: 1/1;
}
.view-4 .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1020px) {
  .view-4 {
    flex-direction: row;
    padding: 4rem;
  }
  .view-4 .top h1 {
    font-size: 7em;
  }
  .view-4 .top .serve {
    display: grid;
    grid-template-areas: "a b" "c d";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2em;
  }
  .view-4 .top .serve .serviceinfo .info br {
    display: initial;
  }
  .view-4 .top .ser-a {
    grid-area: a;
  }
  .view-4 .top .ser-b {
    grid-area: b;
  }
  .view-4 .top .ser-c {
    grid-area: c;
  }
  .view-4 .top .ser-d {
    grid-area: d;
  }
  .view-4 .bottom {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
.mainline {
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
  margin-top: 2em;
}

.view-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1.5em;
  aspect-ratio: 1/1;
}
.view-5 .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-5 .azure {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.view-5 .azure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-5 .azure .v-b {
  display: none;
}
.view-5 .azure .azurecontent {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.view-5 .azure .azurecontent .content1 h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5;
}
.view-5 .azure .azurecontent .content1 p {
  font-style: monospace;
  font-size: 1.2em;
  font-weight: 300;
}
.view-5 .azure .azurecontent .content2 .about {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.view-5 .azure .azurecontent .content2 .about .about-icon {
  display: flex;
  align-items: center;
  background-color: #000;
  border: 1px solid #000;
  padding: 0.5em;
  border-radius: 50%;
}
.view-5 .azure .azurecontent .content2 .about p {
  text-transform: uppercase;
  font-style: monospace;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

@media (min-width: 1020px) {
  .view-5 {
    padding: 4rem;
    padding-bottom: 0;
    margin-bottom: 0;
    aspect-ratio: initial;
  }
  .view-5 .azure {
    display: grid;
    padding-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c";
    grid-auto-rows: auto;
  }
  .view-5 .azure .v-a {
    grid-area: a;
  }
  .view-5 .azure .v-b {
    grid-area: b;
    display: initial;
  }
  .view-5 .azure .v-c {
    grid-area: c;
  }
  .view-5 .azure .azurecontent {
    padding: 2em;
    justify-content: space-between;
  }
  .view-5 .azure .azurecontent .content1 h2 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.5;
  }
  .view-5 .sage {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: "c b a";
  }
  .view-5 .sage .v-a {
    grid-area: a;
  }
  .view-5 .sage .v-b {
    grid-area: b;
    display: initial;
  }
  .view-5 .sage .v-c {
    grid-area: c;
  }
}
.view-6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5rem;
}
.view-6 .top {
  display: none;
}
.view-6 .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
}
.view-6 .bottom .clientheading {
  width: 100%;
}
.view-6 .bottom .clientheading img {
  width: 100%;
}
.view-6 .bottom .client {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.view-6 .bottom .client .line {
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.2;
}
.view-6 .bottom .client .clientcard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.view-6 .bottom .client .clientcard .clientinfo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.view-6 .bottom .client .clientcard .clientinfo h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 200;
}
.view-6 .bottom .client .clientcard .clientinfo .year {
  font-style: Roboto Mono, monospace;
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0.8;
  text-transform: uppercase;
}
.view-6 .bottom .client .clientcard p {
  text-transform: uppercase;
  font-style: Roboto Mono;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@media (min-width: 1020px) {
  .mainline {
    gap: 1em;
  }
  .view-6 {
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "a b";
  }
  .view-6 .top {
    grid-area: a;
  }
  .view-6 .bottom {
    grid-area: b;
  }
  .view-6 .bottom .clientheading {
    padding-left: 28rem;
  }
  .view-6 .bottom .client .clientcard {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .view-6 .bottom .client .clientcard .clientinfo {
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }
  .view-6 .bottom .client .clientcard .clientinfo h3 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 200;
  }
  .view-6 .bottom .client .clientcard .clientinfo p {
    font-style: monospace;
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.6;
  }
  .view-6 .bottom .client .clientcard p {
    text-transform: uppercase;
    font-style: monospace;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 0.1em;
  }
}
.view-7 {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5rem;
}
.view-7 .top {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.view-7 .top h2 {
  font-weight: 200;
  font-size: 3em;
  text-transform: uppercase;
}
.view-7 .top p {
  font-style: monospace;
  font-size: 1.5em;
  font-weight: 300;
  word-spacing: 0.1em;
  line-height: 1.5em;
}
.view-7 .bottom {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.view-7 .bottom .infocard {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.view-7 .bottom .infocard h3 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 200;
}
.view-7 .bottom .infocard img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-7 .bottom .infocard .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.view-7 .bottom .infocard .info p {
  text-transform: uppercase;
  font-size: Roboto-mono, monospace;
  font-weight: 400;
  font-size: 1em;
}
.view-7 .bottom .infocard .info .logo {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.view-7 .bottom .infocard p {
  font-style: monospace;
  font-size: 1.2em;
  font-weight: 500;
  word-spacing: -0.05em;
  line-height: 1.5em;
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */