* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  color: #d3bfa3;
  background-color: #0e0e0e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
}

header {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 2px;
  z-index: 1000;
  width: auto;
  background-color: rgba(195, 175, 145, 0.0509803922);
  border: 1px solid rgba(211, 191, 163, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header p {
  font-size: 2rem;
  font-weight: 200;
}
header nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
header nav li {
  font-size: small;
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #d3bfa3;
}
header nav button {
  padding: 0.5rem 1rem;
  background-color: #d3bfa3;
  border: none;
  color: #0e0e0e;
  cursor: pointer;
}
header .hamburger {
  display: none;
}

@media (max-width: 1024px) {
  header {
    top: 2%;
    width: 90%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  header li {
    display: none;
  }
  header button {
    display: block;
  }
  header .hamburger {
    display: block;
    font-size: 1.8rem;
    color: #d3bfa3;
    cursor: pointer;
  }
}
.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}
.view-1 img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
}
.view-1 p {
  text-align: center;
  font-weight: 100;
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 0.9rem 0;
  opacity: 0.6;
}
.view-1 p br {
  display: none;
}

.view-2 {
  width: 100%;
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
}
.view-2 .marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.view-2 .marquee::after {
  content: "";
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.view-2 .marquee::before {
  content: "";
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to left, #0e0e0e, transparent);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.view-2 .marquee .images {
  display: flex;
  gap: 3rem;
  padding: 0 1.5rem;
  animation: marquee 10s linear infinite;
  flex-shrink: 0;
}
.view-2 .marquee .images img {
  width: 200px;
  height: auto;
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 1020px) {
  html {
    font-size: clamp(16px, 1vw, 20px);
  }
  .view-1 img {
    width: 28%;
  }
  .view-1 h1 {
    font-size: 8.5rem;
  }
  .view-1 p {
    font-size: 1.5rem;
  }
  .view-1 p br {
    display: block;
  }
  .view-2 .marquee .images img {
    width: 200px;
  }
}
.view-3 {
  background-color: #0e0e0e;
  padding: 2rem 3rem;
}
.view-3 .cards {
  display: flex;
  gap: 20px;
  align-items: stretch;
  width: 100%;
}
.view-3 .cards .card {
  flex: 1;
  min-width: 250px;
  background-color: #181716;
  padding: 2rem 3rem;
  border: 1px solid rgba(133, 121, 103, 0.3);
}
.view-3 .cards .card .number {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}
.view-3 .cards .card h1 {
  margin-bottom: 16px;
  font-weight: 400;
  opacity: 0.9;
}
.view-3 .cards .card p {
  font-weight: 100;
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 2rem;
  opacity: 0.6;
}
.view-3 .cards .card .visit {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-3 .cards .card .visit span {
  border-radius: #0e0e0e;
  padding: 0.3rem 0.3rem;
  border: 1px solid rgba(133, 121, 103, 0.3);
  border-radius: 50%;
}
.view-3 .cards .card .visit img {
  width: 20px;
  height: 20px;
}
.view-3 .cards .card .visit h4 {
  margin: 0;
  font-weight: 300;
  opacity: 0.9;
  font-size: clamp(1rem, 1vw, 2rem);
}
.view-3 .cards .card-2 {
  transform: scale(1.05);
  z-index: 1;
}
@media (max-width: 1024px) {
  .view-3 .cards {
    flex-direction: column;
  }
  .view-3 .cards .card {
    width: 100%;
    transform: scale(1);
  }
  .view-3 .cards .card-2 {
    transform: scale(1);
  }
}

.view-4 {
  width: 100%;
  padding: 2rem 2rem;
  gap: 2rem;
  text-align: center;
}
.view-4 h1 {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 100;
  opacity: 0.9;
}
.view-4 .see {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.view-4 .see span {
  border-radius: #0e0e0e;
  padding: 0.3rem 0.3rem;
  border: 1px solid rgba(133, 121, 103, 0.3);
  border-radius: 50%;
}
.view-4 .see img {
  width: 20px;
  height: 20px;
}
.view-4 .see h4 {
  font-weight: 200;
}
.view-4 .work {
  margin: 1rem 0;
  position: relative;
}
.view-4 .work img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
  display: block;
}
.view-4 .work .text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(195, 175, 145, 0.05);
  padding: 1rem;
  border: 1px solid rgba(211, 191, 163, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0 auto;
}
.view-4 .work .text .diff-font {
  font-family: "Courier New", Courier, monospace;
}
@media (min-width: 1024px) {
  .view-4 h1 {
    font-size: 3rem;
  }
  .view-4 .see {
    gap: 20px;
  }
  .view-4 .works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */