*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 16px;
    margin-top: 100px;
    background: linear-gradient(to right, rgb(2, 186, 51), rgb(174, 174, 174));
    animation: bodybg 3s cubic-bezier(0.19, 1, 0.22, 1) 2s infinite both;
}



@keyframes bodybg {
    0% {
        background: linear-gradient(to right, rgb(255, 78, 78), rgb(50, 81, 255));
    }
    100% {
        background: linear-gradient(to right, rgb(50, 81, 255), rgb(255, 78, 78));
    }
}


form{
   
    background-color: aliceblue;
    width: 500px;
    height: 600px;
    margin: auto auto;
    padding: 20px;
}

form h1{
    text-align: center;
    border-bottom: 1px dotted rgb(76, 68, 68);
    padding: 5px;
    margin: 10px;
}

form button{
    width: 100%;
  
    padding: 10px;
    background-color: rgb(21, 121, 188);
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    
}

button:hover {
    cursor: pointer;
    background-color: rgb(7, 132, 15);
    transform: scale(1.05);
}

label{
    display: block;
 
}
input,textarea{
    width: 100%;
    padding: 10px;
    
    border: 1px solid rgb(21, 121, 188);
    border-radius: 5px;
}

